/* You can add global styles to this file, and also import other style files */
/* .container-fluid{
    border: 1px gray solid;
     padding:15px;
      background-color: aqua;
       background-image: -moz-element();
    }
    .background-body{
         background-image: url('C:\ClientApp\ClientApp\src\assets\Image\plane2.jpg');
          background-size: cover;
           background-repeat: no-repeat;
        }
        .navbar-brand{
             font-style: italic;
            } */