<div id="login-bg" class="container-fluid">

   <div class="bg-img"></div>
   <div class="bg-color"></div>
 </div>

 <!-- End Backgrounds -->

 <div class="container" id="login">
     <div class="row justify-content-center">
     <div class="col-lg-8">
       <div class="login">
<form #regiterform="ngForm" (ngSubmit)="register()"autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="mb-3">
        <input type="text"
        class="form-control"
        name="full"
        [(ngModel)]="model.fullname"
        placeholder="Username">

    </div>
    
 <div class="mb-3">
    <input type ="email"
    class ="form-control"
    name="email"
    [(ngModel)]="model.email"
    placeholder="Email">

 </div>
   
 <div class="mb-3">
    <input type ="password"
    class ="form-control"
    name="password"
    [(ngModel)]="model.password"
    placeholder="Password">
 </div>
 <div class="mb-3">
   <input type ="password"
   class ="form-control"
   name="confirm"
   [(ngModel)]="model.confirmPassword"
   placeholder="confirm Password">
</div>
 <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button"(click)="cancel()">Cancel</button>
 </div>
</form>
</div>
</div>
</div>
</div> 

